.signup {
	height: 100vh;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 25rem;
		height: 100%;
		margin: auto;

		h1 {
			color: #39f;
			border: 2px solid #39f;
			padding: 1px 8px;
			background: #fff;
			font-size: 2rem;
		}

		input,
		button {
			font-weight: 500;
			width: 20rem;
			height: 2rem;
			margin: 0.8rem;
			text-decoration: none;
			outline: none;
			font-size: 0.895rem;

			&:required {
				box-shadow: none;
			}
		}

		button {
			font-weight: 800;
			width: 10rem;
			border-radius: 15px;
			border: none;
			background: #39f;
			color: #fff;
			cursor: pointer;
		}

		p {
			font-weight: 800;
		}

		.link {
			text-decoration: none;
			color: #39f;
		}
	}
}
